html {
    max-width: 100%;
    height: auto;
    width: auto;
}

#head {
    margin: 0;
    height: auto;
    width: auto; 
}

#head img {
    max-width: 10%;
    height: auto;
    width: auto;
    float: left;
}

body {
    height: auto;
    width: auto;
    background-image: url("");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: ghostwhite;
    color: #FFF;
    margin: 0em;
    text-transform: uppercase;
    font-size: 100%;
    font-family: 'Arial'; 
}

header {
    height: auto;
    width: auto;	
	margin: auto;
}

header:after {
	content: '';
	display: block;
	clear: both;
    position: fixed;
}

#top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;    
    position: fixed;
    width: 100%;
}

/* Style the links inside the navigation bar */
#top-menu a.nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 23%;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

/* Change the color of links on hover */
#top-menu a:hover {
    background-color: red;
    color: black;
}

/* Add a color to the active/current link */
#top-menu a.active {
    background-color: red;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
#add-contact {
    position: relative;
    display: inline-block;
    margin-top: 20%;
    color: black;
}


#add-time {
    position: relative;
    display: inline-block;
    margin-top: 20%;
    
}

#add-ride {
    position: relative;
    display: inline-block;
    margin-top: 20%;
}

#add-ride-number {
    position: relative;
    display: inline-block;
    margin-top: 20%;
}

.input {
    padding: 2%;
    font-weight: bold;
    color: #FFF;
    border: 2px solid;
    border-radius: 2%;
    width: 23%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 2%;    
    font-size: 110%;
    background-color: grey;
    text-align: left;
    box-shadow: 3px 3px red;
    float: left;
}

.input h1 {
    display: block;
    margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
	font-weight: bold;
	font-size: 250%;
    text-decoration: none;
    border: 2px solid white;
}

.input label {
    display: inline;
    width: 20%;
    font-size: 95%;
    margin: auto;
    float: left;
}

.input input {
    width: 100%;
    font-size: 80%;
    margin-top: 1%;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.rentals {
    padding: 2%;
    font-weight: bold;
    color: #FFF;
    border: 2px solid;
    border-radius: 2%;
    width: 32%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 2%;    
    font-size: 110%;
    background-color: grey;
    box-shadow: 3px 3px red;
    float: left;
}

.rentals h1 {
    display: block;
    margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
	font-weight: bold;
	font-size: 250%;
    text-decoration: none;
    padding: 1%;
    border: 2px solid white;
}

.breakdown {
    padding: 2%;
    font-weight: bold;
    color: #FFF;
    border: 2px solid;
    border-radius: 2%;
    width: 25%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 2%;    
    font-size: 110%;
    background-color: grey;
    box-shadow: 3px 3px red;
    float: left;
}

.breakdown h1 {
    display: block;
    margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
	font-weight: bold;
	font-size: 250%;
    text-decoration: none;
    border: 2px solid white;}

.register {
	cursor: pointer;
    padding: 2%;
	font-weight: bolder;
	font-size: 100%;
	text-transform: uppercase;
    color: red;
    background-color: #FFF;
    box-shadow: 3px 3px black; 
    text-decoration: none;
    margin-left: 40%;
    margin-right: 40%;
}

.register:hover {
    background-color: red;
    color: white;
    box-shadow: 3px 3px black; 
}

.head-title h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 360%;
    text-align: center;
    color: red;
}